<%- include('partials/header') %>

    <main>

      <!-- breadcrumb-area-start -->
      <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="it-breadcrumb-content z-index-3 text-center">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">about us</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="index.ejs">home</a></span> 
                           <span class="dvdr">//</span>
                           <span>about us</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- breadcrumb-area-end -->

      <!-- about-area-start -->
      <div class="it-about-4-area  inner-about-style pt-120 pb-100">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-6 col-lg-6">
                  <div class="it-about-4-thumb-wrap d-flex align-items-center justify-content-center justify-content-lg-end">
                     <div class="it-about-4-thumb-double d-flex flex-column">
                        <img class="mb-20" src="assets/img/about-us3-img.jpg" alt="">
                        <img src="assets/img/about-us2-img.jpg" alt="">
                     </div>
                     <div class="it-about-4-thumb-single">
                        <img src="assets/img/about-us-img.jpg" alt="">
                     </div>
                  </div>
               </div>
               <div class="col-xl-6 col-lg-6">
                  <div class="it-about-3-title-box">
                     <span class="it-section-subtitle">
                     
                        about us
                     </span>
                     <h2 class="it-section-title-3 pb-30">A School with Heart, Vision, and<span> Excellence</span></h2>
                     <p>We provide a balanced educational programme within a safe and stimulating environment, so that each child embarks on a physical, intellectual and social journey of curiosity and reasoning. Harvest thus offers a comprehensive and a balanced curriculum which is designed to make learning enjoyable, activity-based and experimental, preparing every student for higher challenges. During these important years, the focus is both on the curriculum as well as the development of intricate skills like critical thinking, solving real life issues while developing independence and wisdom.</p>
                  </div>
                  <div class="it-about-3-mv-box">
                     <div class="row">
                        <div class="col-xl-12">
                           <div class="it-about-4-list-wrap d-flex align-items-start">
                              <div class="it-about-4-list-icon">
                                 <span><img src="assets/img/our-mission.png" alt=""></i></span>
                              </div>
                              <div class="it-about-3-mv-item">
                                 <span class="it-about-3-mv-title">Our Mission</span>
                                 <p>We promote practices to enhance the rational thinking, concern to the nature, dignity Of labour, fraternity and the freedom of thought and expression.</p>
                              </div>
                           </div>
                        </div>
                        <div class="col-xl-12">
                           <div class="it-about-4-list-wrap d-flex align-items-start">
                              <div class="it-about-4-list-icon">
                                 <span><img src="assets/img/our-vision.png" alt=""></span>
                              </div>
                              <div class="it-about-3-mv-item">
                                 <span class="it-about-3-mv-title">Our Vision</span>
                                 <p>We aim at the inculcation of scientific, aesthetic and democratic temperament among the children.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="it-about-3-btn-box p-relative">
                     <a class="it-btn" href="contact.ejs">
                        <span>
                           admission open
                           <svg width="17" height="14" viewBox="0 0 17 14" fill="none"
                              xmlns="http://www.w3.org/2000/svg">
                              <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                                 stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                              <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                                 stroke-linecap="round" stroke-linejoin="round" />
                           </svg>
                        </span>
                     </a>
                    
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about-area-end -->

<%- include('partials/footer') %>