<%- include('partials/header') %>

<!-- breadcrumb-area-start -->
       <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
           <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="it-breadcrumb-content z-index-3 text-center">
                        <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Alumini</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="index.ejs">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Alumini</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->


        <section class="alumini-section">
            <div class="container">
                
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="inner-box-form">
                            <h4 class="text-center mb-4">Alumni Registration Form</h4>
                              <form action="">
                            <div class="row">
                                <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="Student Name">
                                    </div>
                                </div>
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="Date Birth">
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                        <label for="exampleInputPassword1" class="form-label">Batch From</label>
                                      <div class="mb-3">
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Select Year</option>
                                            <option value="1">1990</option>
                                            <option value="2">1991</option>
                                            <option value="3">1992</option>
                                              <option value="3">1993</option>
                                            </select>
                                    </div>

                                </div>
                                  <div class="col-md-6">
                                      <label for="exampleInputPassword1" class="form-label">Batch To</label>
                                      <div class="mb-3">
                                           <select class="form-select" aria-label="Default select example">
                                            <option selected>Select Year</option>
                                            <option value="1">1990</option>
                                            <option value="2">1991</option>
                                            <option value="3">1992</option>
                                              <option value="3">1993</option>
                                            </select>
                                    </div>
                                </div><!--col-md-6-->
                                 <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="Mobile No.">
                                    </div>
                                </div>
                                 <div class="col-md-6">
                                    <div class="mb-3">
                                           <select class="form-select" aria-label="Default select example">
                                            <option selected>Current Status</option>
                                            <option value="1">Study</option>
                                            <option value="2">Job</option>
                                          
                                            </select>
                                    </div>
                                </div>
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                            <select class="form-select" aria-label="Default select example">
                                            <option selected>Select Country</option>
                                            <option value="1">India</option>
                                            <option value="2">USA</option>
                                             <option value="2">UK</option>
                                          
                                            </select>
                                    </div>
                                </div>

                                 <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="State">
                                    </div>
                                </div>
                                  <div class="col-md-6">
                                      <div class="mb-3">
                                         <input type="text" class="form-control" placeholder="City">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3">
                                      <textarea class="form-control" placeholder="Address" rows="3"></textarea>
                                    </div>
                                </div>
                                    <div class="col-md-12">
                                    <div class="mb-3">
                                      <textarea class="form-control" placeholder="Feelings during your stay at harvest school" rows="3"></textarea>
                                    </div>
                                </div>
                                    <div class="col-md-12">
                                    <div class="mb-3">
                                      <textarea class="form-control" placeholder="Suggestions and Feedback " rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>


<%- include('partials/footer') %>