<%- include('partials/header') %>


     <!-- breadcrumb-area-start -->
    <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
        <div class="container">
            <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Fee Structure</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                        <span><a href="index.ejs">home</a></span> 
                        <span class="dvdr">//</span>
                        <span>Fee Structure</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

<section class="fees-structure">
    <div class="container">
        <div class="row justify-content-center">
           <div class="col-md-11">
             <div class="table-wrap" id="no-more-tables">
                <table class=" table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>S.No</th>
                        <th> Class</th>
                        <th> New Admission Fee  </th>
                        <th> Term I   </th>
                        <th> Term II  </th>
                        <th> Term III </th>
                        <th> Term IV  </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-title="S.No" align="center">1</td>
                        <td data-title="class">NURSERY / LKG </td>
                        <td data-title="Fee" class="numeric">36000</td>
                        <td data-title="Term I" class="numeric">0</td>
                        <td data-title="Term II" class="numeric">5800</td>
                        <td data-title="Term III" class="numeric">5800</td>
                        <td data-title="Term III" class="numeric">5800</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">2</td>
                        <td data-title="class">UKG</td>
                        <td data-title="Fee" class="numeric">36000</td>
                        <td data-title="Term I" class="numeric">8300</td>
                        <td data-title="Term II" class="numeric">5800</td>
                        <td data-title="Term III" class="numeric">5800</td>
                        <td data-title="Term III" class="numeric">5800</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">3</td>
                        <td data-title="class">I &amp; II</td>
                        <td data-title="Fee" class="numeric">36250</td>
                        <td data-title="Term I" class="numeric">8550</td>
                        <td data-title="Term II" class="numeric">6050</td>
                        <td data-title="Term III" class="numeric">6050</td>
                        <td data-title="Term III" class="numeric">6050</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">4</td>
                        <td data-title="class">III &amp; IV</td>
                        <td data-title="Fee" class="numeric">36500</td>
                        <td data-title="Term I" class="numeric">8800</td>
                        <td data-title="Term II" class="numeric">6300</td>
                        <td data-title="Term III" class="numeric">6300</td>
                        <td data-title="Term III" class="numeric">6300</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">5</td>
                        <td data-title="class">V </td>
                        <td data-title="Fee" class="numeric">36765</td>
                        <td data-title="Term I" class="numeric">9065</td>
                        <td data-title="Term II" class="numeric">6565</td>
                        <td data-title="Term III" class="numeric">6565</td>
                        <td data-title="Term III" class="numeric">6565</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">6</td>
                        <td data-title="class">VI</td>
                        <td data-title="Fee" class="numeric">37025</td>
                        <td data-title="Term I" class="numeric">9325</td>
                        <td data-title="Term II" class="numeric">6825</td>
                        <td data-title="Term III" class="numeric">6825</td>
                        <td data-title="Term III" class="numeric">6825</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">7</td>
                        <td data-title="class">VII </td>
                        <td data-title="Fee" class="numeric">37155</td>
                        <td data-title="Term I" class="numeric">9455</td>
                        <td data-title="Term II" class="numeric">6955</td>
                        <td data-title="Term III" class="numeric">6955</td>
                        <td data-title="Term III" class="numeric">6955</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">8</td>
                        <td data-title="class">VIII </td>
                        <td data-title="Fee" class="numeric">37300</td>
                        <td data-title="Term I" class="numeric">9600</td>
                        <td data-title="Term II" class="numeric">7100</td>
                        <td data-title="Term III" class="numeric">7100</td>
                        <td data-title="Term III" class="numeric">7100</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">9</td>
                        <td data-title="class">IX </td>
                        <td data-title="Fee" class="numeric">37420</td>
                        <td data-title="Term I" class="numeric">9720</td>
                        <td data-title="Term II" class="numeric">7220</td>
                        <td data-title="Term III" class="numeric">7220</td>
                        <td data-title="Term III" class="numeric">7220</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">10</td>
                        <td data-title="class">X </td>
                        <td data-title="Fee" class="numeric">37550</td>
                        <td data-title="Term I" class="numeric">9850</td>
                        <td data-title="Term II" class="numeric">7350</td>
                        <td data-title="Term III" class="numeric">7350</td>
                        <td data-title="Term III" class="numeric">7350</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">11</td>
                        <td data-title="class">XI</td>
                        <td data-title="Fee" class="numeric">40860</td>
                        <td data-title="Term I" class="numeric">28160</td>
                        <td data-title="Term II" class="numeric">10660</td>
                        <td data-title="Term III" class="numeric">10660</td>
                        <td data-title="Term III" class="numeric">10660</td>
                    </tr>
                    <tr>
                        <td data-title="S.No" align="center">12</td>
                        <td data-title="class">XII</td>
                        <td data-title="Fee" class="numeric">40860</td>
                        <td data-title="Term I" class="numeric">13160</td>
                        <td data-title="Term II" class="numeric">10660</td>
                        <td data-title="Term III" class="numeric">10660</td>
                        <td data-title="Term III" class="numeric">10660</td>
                    </tr>
                </tbody>
                </table>
            </div>
           </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>