<%- include('partials/header') %>

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
    <div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="it-breadcrumb-content z-index-3 text-center">
                <div class="it-breadcrumb-title-box">
                <h3 class="it-breadcrumb-title">Gallery</h3>
                </div>
                <div class="it-breadcrumb-list-wrap">
                <div class="it-breadcrumb-list">
                    <span><a href="index.ejs">home</a></span>
                    <span class="dvdr">//</span>
                    <span>Gallery</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- breadcrumb-area-end -->

<div class="gallery-section">
    <div class="container">
        <div class="row">

            <div class="gallery-container gallery-grid" >
                <div class="row">
                 <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                        href="gallery-view.ejs">
                        <img src="assets/img/gallery-1.jpg" alt="Mountain View">
                        <h6>Celebrations</h6>
                        </a>
                </div><!--col-md-3-->
                <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-6.jpg" alt="Mountain View">
                        <h6>Childrens Day</h6>
                        </a>
                </div><!--col-md-3-->
                <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-3.jpg" alt="Mountain View">
                        <h6>Yoga</h6>
                        </a>
                </div><!--col-md-3-->
                <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                          href="gallery-view.ejs">
                        <img src="assets/img/gallery-4.jpg" alt="Mountain View">
                        <h6>Anuual Day</h6>
                        </a>
                </div><!--col-md-3-->
                <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-5.jpg" alt="Mountain View">
                        <h6>Celebrations</h6>
                        </a>
                </div><!--col-md-3-->
                  <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-6.jpg" alt="Mountain View">
                          <h6>Childrens Day</h6>
                        </a>
                </div><!--col-md-3-->
                 <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-7.jpg" alt="Mountain View">
                         <h6>Yoga</h6>
                        </a>
                </div><!--col-md-3-->
                 <div class="col-md-3 mb-3">
                    <a class="gallery-item"
                         href="gallery-view.ejs">
                        <img src="assets/img/gallery-8.jpg" alt="Mountain View">
                          <h6>Anuual Day</h6>
                        </a>
                </div><!--col-md-3-->
                </div>
            </div>
        
          
        </div>
    </div>

</div>

<%- include('partials/footer') %>