<%- include('partials/header') %>

  <main>
    <!-- hero-area-start -->
    <div class="it-hero-2-area it-hero-2-bg fix p-relative" data-background="/images/hero-bg-1.jpg">
      <div class="it-hero-2-shape-4">
        <img src="/images/shape-2-7.png" alt="" />
      </div>

      <div class="it-hero-2-funfact text-center d-none d-xl-block">
        <span class="theme"><i class="purecounter" data-purecounter-duration="1"
            data-purecounter-end="11">0</i>k+</span>
        <span>Total Student</span>
        <img src="/images/shape-2-8.png" alt="" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-hero-2-content">
              <h1 class="it-hero-2-title">
                Harvest
                <span class="p-relative"> School </span>
                Nurturing Young Minds <br />Building Bright Futures
              </h1>
              <div class="it-hero-2-text">
                <p>
                  At Harvest, we create a safe and inspiring space where every
                  child begins a journey of curiosity and growth. Our balanced
                  curriculum blends academics with real-world skills through
                  engaging, activity-based learning. We empower students with
                  independence, critical thinking, and wisdom to face
                  tomorrow’s challenges with confidence.
                </p>
                <div class="it-hero-2-btn-box d-flex align-items-center">
                  <a class="it-btn" href="gallery">
                    <span>
                      Activities
                      <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                          stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                          stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </span>
                  </a>
                  <div class="it-hero-2-play">
                    <a class="popup-video" href="https://www.youtube.com/watch?v=VcY1_UNMZRE"><i
                        class="fas fa-play"></i></a>
                    <span>Watch Now</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4">
            <div class="it-hero-2-thumb-box p-relative">
              <div class="it-hero-2-thumb p-relative">
                <img src="/images/banner-img.png" class="img-fluid" alt="" />
                <!-- <div class="it-hero-2-shape-1 d-none d-xl-block">
                    <img src="/images/hero/shape-2-6.png" alt="" />
                  </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- hero-area-end -->

    <!-- category-area-start -->
    <div class="it-category-area pt-120 pb-30">
      <div class="container">
        <div class="it-category-title-wrap p-relative mb-70">
          <div class="row align-items-end">
            <div class="col-12">
              <div class="it-category-title-box">
                <h4 class="it-section-title">Our Core Values</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/respect.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">Respect for others</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/healthy-lifestyle-logo.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">A Healthy Lifestyle</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/responsibility.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">Responsibility</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/courage.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">Courage</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/honest.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">Honesty</h4>
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-6 mb-30">
            <div class="it-category-item text-center">
              <div class="it-category-icon">
                <span>
                  <img src="/images/discipline.png" alt="" />
                </span>
              </div>
              <div class="it-category-text">
                <h4 class="it-category-title">Self Discipline</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- category-area-end -->

    <!-- about-area-start -->
    <div class="it-about-area p-relative pt-185 pb-185">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-about-thumb-box p-relative">
              <div class="it-about-thumb-1 d-none d-xl-block">
                <img src="/images/thumb-4-1.jpg" alt="" />
              </div>
              <div class="it-about-thumb-2 d-none d-xl-block">
                <img src="/images/thumb-4-2.jpg" alt="" />
              </div>
              <div class="it-about-main-thumb text-xl-end text-center">
                <img src="/images/thumb-3.jpg" alt="" />
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="it-about-right-box">
              <div class="it-about-title-box mb-20">
                <span class="it-section-subtitle">About Harvest School</span>
                <h4 class="it-section-title">
                  Shaping
                  <span class="p-relative z-index"> Young Minds </span>
                  <br />
                  with Care
                </h4>
              </div>
              <div class="it-about-text pb-10">
                <p>
                  We provide a balanced educational programme within a safe
                  and stimulating environment, so that each child embarks on a
                  physical, intellectual and social journey of curiosity and
                  reasoning. Harvest thus offers a comprehensive and a
                  balanced curriculum which is designed to make learning
                  enjoyable, activity-based and experimental, preparing every
                  student for higher challenges. During these important years,
                  the focus is both on the curriculum as well as the
                  development of intricate skills like critical thinking,
                  solving real life issues while developing independence and
                  wisdom.
                </p>
              </div>
              <div class="it-about-content-wrapper d-flex align-items-center justify-content-between pb-15">
                <div class="it-about-content">
                  <h5>Flexible Classes</h5>
                  <p>
                    At Harvest School, we understand that every child learns
                    differently. Our flexible classes are designed to adapt to
                    individual learning styles, ensuring that students grasp
                    concepts at their own pace. With a mix of interactive
                    sessions, activity-based learning, and personalized
                    guidance, we make education both engaging and effective.
                  </p>
                </div>
              </div>
              <a class="it-btn" href="about-us.ejs">
                <span>
                  Read More
                  <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                      stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                      stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about-area-end -->

    <!-- video-area-start -->
    <div class="it-video-area it-video-bg p-relative fix pt-100 pb-95" data-background="/images/breadcrumb-2.jpg">
      <div class="it-video-shape-1 d-none d-lg-block">
        <img src="/images/shape-1-1.png" alt="" />
      </div>
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
            <div class="it-video-content">
              <!-- <span>Join Our New Session</span> -->
              <h3 class="it-video-title">Celebrations <br /></h3>
              <div class="it-video-button">
                <a class="it-btn" href="contact.ejs">
                  <span>
                    Join With us
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-5 col-lg-5 col-md-3 col-sm-3">
            <div class="it-video-play-wrap d-flex justify-content-start justify-content-md-end align-items-center">
              <div class="it-video-play text-center">
                <a class="popup-video play" href="https://www.youtube.com/watch?v=VcY1_UNMZRE"><i
                    class="fas fa-play"></i></a>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video-area-end -->

    <!-- choose-area-start -->
    <div class="it-choose-area p-relative pt-180 pb-110">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="it-choose-left">
              <div class="it-choose-title-box mb-30">
                <span class="it-section-subtitle">WHY CHOOSE US</span>
                <h4 class="it-section-title">Harvest School –</h4>
              </div>
              <div class="it-choose-text pb-15">
                <p>
                  At Harvest School, we provide a stress-free and
                  child-friendly atmosphere filled with love and care. Our
                  flexible classes and activity-based learning make education
                  engaging, meaningful, and enjoyable.
                </p>
              </div>
              <div class="it-choose-content-box">
                <div class="row gx-20">
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i>Vission</h5>
                      <p>
                        We aim at the inculcation of scientific, aesthetic and
                        democratic temperament among the children.
                      </p>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i>Mission</h5>
                      <p>
                        We promote practices to enhance the rational thinking,
                        concern to the nature, dignity Of labour, fraternity
                        and the freedom of thought and expression.
                      </p>
                    </div>
                  </div>
                  <div class="col-12 mb-20">
                    <div class="it-choose-content">
                      <h5><i class="fa-solid fa-circle-check"></i>Values</h5>
                      <p>
                        Harvest's motto is to provide stress and strain free
                        Education with love and affection for the all-around
                        development of Children in a Child friendly
                        atmosphere.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6 mb-30">
            <div class="it-choose-thumb-box text-center text-md-end">
              <div class="it-choose-thumb p-relative">
                <img src="/images/choose-2-3.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- choose-area-end -->

    <!-- funfact-area-start -->
    <div class="it-funfact-area z-index-5">
      <div class="it-funfact-bg-wrap theme-bg" data-background="/images/funfact-bg.png">
        <div class="container">

          <div class="row gx-0">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="it-funfact-item d-flex align-items-center">
                <div class="it-funfact-icon">
                  <span>
                    <img src="/images/child-friendly.png" alt="" />
                  </span>
                </div>
                <div class="it-funfact-content">
                  <h6>
                    <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="100">0</i>%
                  </h6>
                  <span>Child-Friendly Atmosphere</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="it-funfact-item d-flex align-items-center">
                <div class="it-funfact-icon">
                  <span>
                    <img src="/images/library.png" alt="" />
                  </span>
                </div>
                <div class="it-funfact-content">
                  <h6>
                    <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="500">0</i>+
                  </h6>
                  <span>Books in Library</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="it-funfact-item d-flex align-items-center">
                <div class="it-funfact-icon">
                  <span>
                    <img src="/images/sports.png" alt="" />
                  </span>
                </div>
                <div class="it-funfact-content">
                  <h6>
                    <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="30"></i>+
                  </h6>
                  <span>Sports & Arts Programs</span>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
              <div class="it-funfact-item d-flex align-items-center">
                <div class="it-funfact-icon">
                  <span>
                    <img src="/images/culturals.png" alt="" />
                  </span>
                </div>
                <div class="it-funfact-content">
                  <h6>
                    <i class="purecounter" data-purecounter-duration="1" data-purecounter-end="20"></i>+
                  </h6>
                  <span>Annual Cultural Events</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- funfact-area-end -->

    <!-- event-area-start -->
    <div id="event" class="it-event-2-area p-relative pt-90 pb-90">
      <div class="container">
        <div class="it-event-2-title-wrap mb-60">
          <div class="row align-items-end">
            <div class="col-12">
              <div class="it-event-2-title-box text-center">
                <span class="it-section-subtitle-2"> Our Events </span>
                <h2 class="it-section-title-3">Upcoming Events</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
            <div class="it-event-2-item-box">
              <div class="it-event-2-item">
                <div class="it-event-2-thumb fix">
                  <a href="blog-view.ejs"><img src="/images/event-1-1.png" alt="" /></a>
                  <div class="it-event-2-date">
                    <span><i>21</i> <br />
                      June</span>
                  </div>
                </div>
                <div class="it-event-2-content">
                  <h4 class="it-event-2-title">
                    <a href="blog-view.ejs">Yoga Day</a>
                  </h4>
                  <div class="it-event-2-text">
                    <p class="mb-0 pb-10">
                      A day of wellness and togetherness as we observed
                      International Yoga Day.
                    </p>
                  </div>
                  <div class="it-event-2-meta">
                    <span>
                      <i class="fa-light fa-clock"></i>
                      Time: 11:00am to 03;00pm
                    </span>
                    <span>

                      <i class="fa-light fa-location-dot"></i>

                      Location: India
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
            <div class="it-event-2-item-box">
              <div class="it-event-2-item">
                <div class="it-event-2-thumb fix">
                  <a href="blog-view.ejs"><img src="/images/event-1-2.png" alt="" /></a>
                  <div class="it-event-2-date">
                    <span><i>16</i> <br />
                      April</span>
                  </div>
                </div>
                <div class="it-event-2-content">
                  <h4 class="it-event-2-title">
                    <a href="blog-view.ejs">Annual Day</a>
                  </h4>
                  <div class="it-event-2-text">
                    <p class="mb-0 pb-10">
                      Harvest School celebrated Annual Day with joy, talent,
                      and togetherness.
                    </p>
                  </div>
                  <div class="it-event-2-meta">
                    <span>
                      <i class="fa-light fa-clock"></i>
                      Time: 11:00am to 07:00pm
                    </span>
                    <span>

                      <i class="fa-light fa-location-dot"></i>

                      Location: India
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 col-md-6 mb-30">
            <div class="it-event-2-item-box">
              <div class="it-event-2-item">
                <div class="it-event-2-thumb fix">
                  <a href="blog-view.ejs"><img src="/images/event-1-3.png" alt="" /></a>
                  <div class="it-event-2-date">
                    <span><i>26</i> <br />
                      January</span>
                  </div>
                </div>
                <div class="it-event-2-content">
                  <h4 class="it-event-2-title">
                    <a href="blog-view.ejs">Republic Day</a>
                  </h4>
                  <div class="it-event-2-text">
                    <p class="mb-0 pb-10">
                      Harvest School celebrated Republic Day with pride,
                      patriotism, and unity.
                    </p>
                  </div>
                  <div class="it-event-2-meta">
                    <span>
                      <i class="fa-light fa-clock"></i>
                      Time: 08:00am to 10:30am
                    </span>
                    <span>

                      <i class="fa-light fa-location-dot"></i>

                      Location: India
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- event-area-end -->

    <!-- Swiper slide / gallery section -->

    <div class="swiper mySwiper">
      <div class="it-event-2-title-box text-center">
        <span class="it-section-subtitle-2"> Learning </span>
        <h2 class="it-section-title-3">Beyond Classrooms</h2>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="/images/bathukamma-dance.jpeg" alt="Slide 1" />
          <div class="slide-overlay">Bathukamma-Celebration</div>
        </div>
        <div class="swiper-slide">
          <img src="/images/green-day.jpeg" alt="Slide 2" />
          <div class="slide-overlay">Green-Day</div>
        </div>
        <div class="swiper-slide">
          <img src="/images/world's-difference-day.jpg" alt="Slide 3" />
          <div class="slide-overlay">World Difference day celebration</div>
        </div>
        <div class="swiper-slide">
          <img src="/images/5th-Farewell-Celebrations.jpeg" alt="Slide 4" />
          <div class="slide-overlay">5th-Farewell-Celebrations</div>
        </div>
      </div>

      <!-- Pagination Dots -->
      <div class="swiper-pagination"></div>
    </div>

    <!-- video-area-start -->
    <div class="it-video-2-area it-video-2-bg p-relative pt-120 pb-80" data-background="/images/bg-5-1.jpg">

      <div class="container">
        <div class="row align-items-center">
          <div class="col-xl-6 col-lg-6">
            <div class="it-video-2-left">
              <div class="it-video-2-title-box mb-10">
                <span class="it-section-subtitle-5"><i class="fa-light fa-book"></i> Fun Classes</span>
                <h4 class="it-section-title-5">Learning Made Fun</h4>
              </div>
              <div class="it-video-2-text mb-30">
                <p>
                  Experience the vibrant journey of learning and growth at
                  Harvest School through our videos. From classrooms to
                  cultural events, every moment reflects joy, curiosity, and
                  creativity. Our students engage in academics, sports, and
                  activities that build confidence and skills. Each video
                  captures the essence of our child-friendly and value-based
                  education.
                </p>
              </div>
              <div class="it-video-2-button">
                <a class="it-btn-yellow radius" href="dance.ejs">
                  <span>
                    Find Events
                    <svg width="17" height="14" viewBox="0 0 17 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M11 1.24023L16 7.24023L11 13.2402" stroke="currentcolor" stroke-width="1.5"
                        stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                      <path d="M1 7.24023H16" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10"
                        stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-lg-6">
            <div class="it-video-2-thumb p-relative">
              <img src="/images/thumb-5.png" alt="" />
              <div class="it-video-2-play">
                <a class="popup-video" href="https://www.youtube.com/watch?v=PO_fBTkoznc"><i
                    class="fas fa-play"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- video-area-end -->

    <!-- testimonial-area-start -->
    <!-- <div
        class="it-testimonial-area it-testimonial-ptb it-testimonial-bg fix p-relative"
      >
        <div class="container">
          <div class="it-testimonial-title-wrap mb-60">
            <div class="row align-items-end">
              <div class="col-xl-6 col-lg-8 col-md-9 col-sm-8">
                <div class="it-testimonial-title-box">
                  <span class="it-section-subtitle">testimonial</span>
                  <h4 class="it-section-title">
                    Creating A Community Of Life Long
                    <span class="p-relative z-index"> Learners. </span>
                  </h4>
                </div>
              </div>
              <div class="col-xl-6 col-lg-4 col-md-3 col-sm-4">
                <div class="it-testimonial-arrow text-end"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-12">
              <div class="it-testimonial-slide-wrap p-relative">
                <div class="row align-items-center">
                  <div class="col-xl-2 col-lg-2 col-md-3">
                    <div class="it-testimonial-slide-nav-active text-center">
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                      <div class="it-testimonial-nav-item">
                        <div class="it-testimonial-nav-thumb">
                          <img src="/images/avatar-1.png" alt="" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9">
                    <div class="it-testimonial-slide-active">
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                      <div class="it-testimonial-slide-item">
                        <div class="it-testimonial-slide-info">
                          <h4 class="it-testimonial-user-name">
                            Courtney Henry
                          </h4>
                          <span>happy customer</span>
                          <p>
                            “Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip
                            ex ea commodo consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore
                            eu fugiat nulla pariatur.
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    <!-- testimonial-area-end -->
  </main>


  <%- include('partials/footer') %>