<%- include('partials/header') %>
   <main>

      <!-- breadcrumb-area-start -->
      <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="it-breadcrumb-content z-index-3 text-center">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Admission-Procedure</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="index.ejs">home</a></span>
                           <span class="dvdr">//</span>
                           <span>Admission-Procedure</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- breadcrumb-area-end -->

      <div id="testimonial" class="it-testimonial-3-area it-testimonial-4-style theme-bg-3">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                  <div class="it-testimonial-3-thumb">
                     <img src="assets/img/thumb-2.png" alt="">
                  </div>
               </div>
               <div class="col-xl-7 col-lg-8">
                  <div class="it-testimonial-3-box z-index p-relative">
                  
                     <div class="it-testimonial-3-wrapper white-bg p-relative">
                        <div class="it-testimonial-3-quote">
                           <img src="assets/img/quot.png" alt="">
                        </div>
                        <h4> Admission Procedure – HPS</h4>
                        <p> 
                           At Harvest, we believe in stress-free and child-centered education. Therefore, the admission procedure is designed to be child-friendly and supportive.
                        </p>
                        <ul>

                           <li>Admission Test:</li>
                           <p>Students seeking admission need to attend an Admission Test. This test is conducted only to assess their strengths and weaknesses, so that proper support can be provided accordingly.</p>

                           <li>Interaction:</li>
                           <p>A simple and accessible interaction with the Correspondent and Principal is arranged, helping children and parents feel comfortable with the school’s environment and norms.</p>

                           <li>Applicable Grades:</li>
                           <p>The same procedure is followed for all admissions from Nursery to Grade V.</p>

                           <li>Mid-Year Admissions:</li>
                           <p>Though it may involve additional formalities, Harvest accepts admissions in the middle of the academic year, provided the candidate submits the following:</p>

                           
                           <li>Transfer Certificate (T.C.)</li>
                           <li>Conduct Certificate (duly signed)</li>
                        </ul>
                        <!--<div class="swiper-container it-testimonial-3-active">
                           <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                 <div class="it-testimonial-3-item">
                                    <div class="it-testimonial-3-content">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipLorem
                                          ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                       <div class="it-testimonial-3-author-box d-flex align-items-center">
                                          <div class="it-testimonial-3-avata">
                                             <img src="assets/img/avatar/avatar-3-1.png" alt="">
                                          </div>
                                          <div class="it-testimonial-3-author-info">
                                             <h5>Jorge Carter</h5>
                                             <span>Software Developer</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="it-testimonial-3-item">
                                    <div class="it-testimonial-3-content">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipLorem
                                          ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                       <div class="it-testimonial-3-author-box d-flex align-items-center">
                                          <div class="it-testimonial-3-avata">
                                             <img src="assets/img/avatar/avatar-2.png" alt="">
                                          </div>
                                          <div class="it-testimonial-3-author-info">
                                             <h5>Jorge Carter</h5>
                                             <span>Gloria Burnett</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                              <div class="swiper-slide">
                                 <div class="it-testimonial-3-item">
                                    <div class="it-testimonial-3-content">
                                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipLorem
                                          ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                       <div class="it-testimonial-3-author-box d-flex align-items-center">
                                          <div class="it-testimonial-3-avata">
                                             <img src="assets/img/avatar/avatar-1.png" alt="">
                                          </div>
                                          <div class="it-testimonial-3-author-info">
                                             <h5>Laurie Duncanr</h5>
                                             <span>Software Developer</span>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>-->
                           </div>
                        </div>
                        <div class="test-slider-dots"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

<%- include('partials/footer') %>