    <%- include('partials/header') %>
   <main>

    <!-- breadcrumb-area-start -->
       <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
           <div class="container">
            <div class="row ">
                <div class="col-md-12">
                    <div class="it-breadcrumb-content z-index-3 text-center">
                        <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">Yoga</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                            <span><a href="index.ejs">home</a></span>
                            <span class="dvdr">//</span>
                            <span>Yoga</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- breadcrumb-area-end -->

      <!-- postbox area start -->
      <div class="postbox__area pt-120 pb-60">
         <div class="container">
            <div class="row">
               <div class="col-xxl-8 col-xl-8 col-lg-8">
                  <div class="postbox__details-wrapper">
                     <article>
                        <div class="postbox__thumb mb-30 w-img">
                           <img src="assets/img/blog-details-1.jpg" alt="">
                        </div>
                        <div class="postbox__details-title-box pb-40">
                           <div class="postbox__meta mb-2">
                              <span><i class="fa-solid fa-calendar-days"></i>14 June 2023</span>
                              
                           </div>
                           <h4 class="postbox__title mb-10">Yoga</h4>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit.
                           </p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit.
                           </p>
                           <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                              ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                              ullamco laboris nisi ut aliquip ex ea commodo consequat aute irure dolor in reprehenderit.
                           </p>
                        </div>
                       
                 
                     </article>
                  </div>
               </div>
               <div class="col-xxl-4 col-xl-4 col-lg-4">
                  <div class="it-sv-details-sidebar">
                   
                     <div class="sidebar__widget mb-55">
                        <div class="sidebar__widge-title-box">
                           <h3 class="sidebar__widget-title pb-10">Recent Post</h3>
                        </div>
                        <div class="sidebar__widget-content">
                           <div class="sidebar__post">
                              <div class="rc__post mb-30 d-flex align-items-start">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-view.ejs"><img src="assets/img/blog-sidebar-sm-1.jpg"
                                          alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span><i class="fa-solid fa-calendar-days"></i>14 June 2023</span>
                                    </div>
                                    <h3 class="rc__post-title">
                                       <a href="blog-view.ejs">Yoga</a>
                                    </h3>
                                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                 </div>
                              </div>
                              <div class="rc__post mb-30 d-flex align-items-start">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-view.ejs"><img src="assets/img/blog-sidebar-sm-1.jpg"
                                          alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span><i class="fa-solid fa-calendar-days"></i>14 June 2023</span>
                                    </div>
                                     <h3 class="rc__post-title">
                                       <a href="blog-view.ejs">Yoga</a>
                                    </h3>
                                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                 
                                 </div>
                              </div>
                              <div class="rc__post mb-30 d-flex align-items-start">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-view.ejs"><img src="assets/img/blog-sidebar-sm-1.jpg"
                                          alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span><i class="fa-solid fa-calendar-days"></i>14 June 2023</span>
                                    </div>
                                     <h3 class="rc__post-title">
                                       <a href="blog-view.ejs">Yoga</a>
                                    </h3>
                                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                 
                                 </div>
                              </div>
                              <div class="rc__post mb-30 d-flex align-items-start">
                                 <div class="rc__post-thumb mr-20">
                                    <a href="blog-view.ejs"><img src="assets/img/blog-sidebar-sm-1.jpg"
                                          alt=""></a>
                                 </div>
                                 <div class="rc__post-content">
                                    <div class="rc__meta">
                                       <span><i class="fa-solid fa-calendar-days"></i>14 June 2023</span>
                                    </div>
                                     <h3 class="rc__post-title">
                                       <a href="blog-view.ejs">Yoga</a>
                                    </h3>
                                    <p>Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
                                 
                                 </div>
                              </div>
                            
                           </div>
                        </div>
                     </div>
                   
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- postbox area end -->

   

   </main>

   <%- include('partials/footer') %>