<%- include('partials/header') %>

<section class="yoga-section">

    <!-- breadcrumb-area-start -->
  <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
            <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                    <h3 class="it-breadcrumb-title">Dance</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                    <div class="it-breadcrumb-list">
                        <span><a href="index.ejs">home</a></span>
                        <span class="dvdr">//</span>
                        <span>Dance</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="yoga-content">
                    <h2>Dance at Harvest Tender Roots School</h2>
                    <p>At Harvest Tender Roots School, we believe that every child is an artist. Dance is an integral part of our co-curricular activities, giving students a platform to express themselves with joy, rhythm, and creativity.</p>
                    <ul>
                        <li>
                            <h5>Cultural Expression</h5> Children learn traditional and contemporary dance forms that connect them with our rich cultural heritage..
                        </li> <br>
                        <li>
                            <h5>Team Spirit</h5>
                           Group performances teach cooperation, discipline, and the joy of working together.
                        </li> <br>
                        <li>
                            <h5>Creativity & Joy</h5>
                            Through dance, children explore movement, music, and imagination in a stress-free environment.
                        </li>
                    </ul>
                </div>
            </div>


           
            <div class="col-md-6">
                <div class="yoga-sliders">
                    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="assets/img/dance-slider1.jpeg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="assets/img/dance-slider2.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="assets/img/dance-slider3.jpg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<%- include('partials/footer') %>