<%- include('partials/header') %>
   <main>

      <!-- breadcrumb-area-start -->
     <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
         <div class="container">
            <div class="row ">
               <div class="col-md-12">
                  <div class="it-breadcrumb-content z-index-3 text-center">
                     <div class="it-breadcrumb-title-box">
                        <h3 class="it-breadcrumb-title">TEACHER Details</h3>
                     </div>
                     <div class="it-breadcrumb-list-wrap">
                        <div class="it-breadcrumb-list">
                           <span><a href="index.ejs">home</a></span>
                           <span class="dvdr">//</span>
                           <span>Teacher Details</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- breadcrumb-area-end -->

      <!-- teacher-details-area-start -->
      <div class="it-teacher-details-area pt-120 ">
         <div class="container">
            <div class="it-teacher-details-wrap">
               <div class="row">
                  <div class="col-xl-3 col-lg-3">
                     <div class="it-teacher-details-left">
                        <div class="it-teacher-details-left-thumb">
                           <img src="assets/img/team-1-5.jpg" alt="">
                        </div>
                        <div class="it-teacher-details-left-social text-center">
                           <a href="#"><i class="fab fa-facebook-f"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-skype"></i></a>
                           <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9">
                     <div class="it-teacher-details-right">
                        <div class="it-teacher-details-right-title-box">
                           <h4>P. Ravi Maruth ( Correspondent )</h4>
                           <span>Dear Students</span>
                           <p> Be Friendly and Children you, feel free here Behave to clarify your doubts
                              Speak pleasantly and politely. Never be angry with anyone. Try to participate in as many activities as possible. 
                           </p>
                        </div>

                        <div class="it-teacher-details-right-content mb-30">
                           <h4>Learn new things</h4>
                           <ul>
                            <li>Listen to your children and guide him observe school discipline </li>
                            <li>Send the children neat and tidy to the school</li>
                            <li>Feed them well let them carry nutrient food only</li>
                            <li> Check their bags now and then to know whether they are carrying tools that they needed</li>
                            <li>Talk to them and know how he learns in the school.</li>
                           </ul>
                        </div>

                        <div class="it-teacher-details-right-content mb-0">
                           <h4>MESSAGE TO STAFF BY CORRESPONDENT</h4>
                           <ul>
                              <li>Be friendly to make the pupils free to express their feelings</li>
                              <li>Appreciate the children whenever they do something good to boost up their courage and confidence for better learning</li>
                              <li>Never be harsh and resort to abusing on trifles reasons</li>
                              <li>Make them learn good habits like punctuality and loyalty.</li>
                           </ul>
                        </div>
                        
                      </div>
                  </div>
               </div>
            </div>

            <!---principal-message-area-start--->

            <div class="it-teacher-details-wrap">
               <div class="row">
                  <div class="col-xl-3 col-lg-3">
                     <div class="it-teacher-details-left">
                        <div class="it-teacher-details-left-thumb">
                           <img src="assets/img/team-3-2.jpg" alt="">
                        </div>
                        <div class="it-teacher-details-left-social text-center">
                           <a href="#"><i class="fab fa-facebook-f"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-skype"></i></a>
                           <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                        
                        
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9">
                     <div class="it-teacher-details-right">
                        <div class="it-teacher-details-right-title-box">
                           <h4>Mrs. Parvathi Reddy ( Principal )</h4>
                           <p clas="mb-0">PRINCIPAL MESSAGE TO STUDENTS</p>
                           <ul>
                             <li> Children, be regular to school. Parents send them on time</li>
                             <li> Listen to your teachers and obey their instructions. Guide the children to obey the teachers</li>
                             <li>Ready to receive and reproduce, parents should make children listen and write what they are taught</li>
                             <li> Do your work both at school and home properly .Observe their work</li>
                             <li>Participate you might and interest in both cocuricular and extra curricular activities for the acquisition of special skills and sound health</li>
                           </ul>
                        </div>

                        <div class="it-teacher-details-right-content mb-0">
                          <h4>PRINCIPAL MESSAGE TO STAFF</h4>
                          <ul>
                            <li>Make the children move in (queque) rows.</li>
                            <li>Let them avoid pull and push and shout</li>
                            <li>Keep them clean and green their belongings ,class rooms and surroundings too</li>
                            <li>Make them feel scholl as their home</li>
                            <li>Let them feel homely atmosphere by being friendly</li>
                            <li>Be patient to listen to them and set right smoothly the problem they faced</li>
                            <li>Be prompt at your work</li>
                            <li>Negotiate with your collegues for the around development of children</li>
                            <li>Provide remedial teaching to those that needed</li>
                            <li>Encourage the gifted children to reach the new heights</li>
                          </ul>
                        </div>                        
                      </div>
                  </div>
            </div>

          </div>
      </div>
      <!-- teacher-details-area-end -->

      <!-- team-area-start -->
      <div class="it-team-3-area it-team-3-style-2 p-relative z-index pt-100 pb-90">
         <div class="container">
            <div class="row">
               <div class="col-xl-12">
                  <div class="it-testimonial-5-title-box text-center mb-30">
                   
                     <h4 class="it-section-title-5">meet our expert teacher</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                  <div class="it-team-3-item text-center">
                     <div class="it-team-3-thumb fix">
                        <img src="assets/img/team-1-5.jpg" alt="">
                     </div>
                     <div class="it-team-3-content">
                         
                        <div class="it-team-3-author-box">
                           <h4 class="it-team-3-title"><a href="#">P. Ravi Maruth</a></h4>
                           <span>Correspondent </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                  <div class="it-team-3-item text-center">
                     <div class="it-team-3-thumb fix">
                        <img src="assets/img/team-3-2.jpg" alt="">
                     </div>
                     <div class="it-team-3-content">
                        
                        <div class="it-team-3-author-box">
                           <h4 class="it-team-3-title"><a href="#">Mrs. Parvathi Reddy</a></h4>
                           <span> Principal</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                  <div class="it-team-3-item text-center">
                     <div class="it-team-3-thumb fix">
                        <img src="assets/img/team-1-5.jpg" alt="">
                     </div>
                     <div class="it-team-3-content">
                        
                        <div class="it-team-3-author-box">
                           <h4 class="it-team-3-title"><a href="#">P. Ravi Maruth</a></h4>
                           <span>Correspondent</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                  <div class="it-team-3-item text-center">
                     <div class="it-team-3-thumb fix">
                        <img src="assets/img/team-3-2.jpg" alt="">
                     </div>
                     <div class="it-team-3-content">
                       
                        <div class="it-team-3-author-box">
                           <h4 class="it-team-3-title"><a href="#">Mrs. Parvathi Reddy</a></h4>
                           <span>Principal</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- team-area-end -->
 
   </main>

<%- include('partials/footer') %>