<%- include('partials/header') %>

<section class="school-info">
    <!-- breadcrumb-area-start -->
        <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
            <div class="container">
                <div class="row ">
                <div class="col-md-12">
                    <div class="it-breadcrumb-content z-index-3 text-center">
                        <div class="it-breadcrumb-title-box">
                            <h3 class="it-breadcrumb-title">School Information</h3>
                        </div>
                        <div class="it-breadcrumb-list-wrap">
                            <div class="it-breadcrumb-list">
                            <span><a href="index.ejs">home</a></span> 
                            <span class="dvdr">//</span>
                            <span>School-Info</span>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
      <!-- breadcrumb-area-end -->
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-md-11">
                <div class="school-info-content">
                   
                    <div class="table-wrap table-responsive">
                        <table class="table table-striped">
                        <caption>Harvest Public School — Key Details</caption>
                        <thead>
                            <tr>
                            <th scope="col">Field</th>
                            <th scope="col">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td>Name of the School with Address</td>
                            <td>Harvest Public School, 5-7-200/11, Near Mamatha Hospital, Pakabanda Bazar, Khammam, Telangana – 507001</td>
                            </tr>
                            <tr>
                            <td>E-mail</td>
                            <td><a href="mailto:harvestkhammam@gmail.com">harvestkhammam@gmail.com</a></td>
                            </tr>
                            <tr>
                            <td>Phone No.</td>
                            <td><a href="tel:+918742295442">08742-295442/43</a></td>
                            </tr>
                            <tr>
                            <td>Fax No.</td>
                            <td>—</td>
                            </tr>
                            <tr>
                            <td>Year of Establishment</td>
                            <td>01.04.2007</td>
                            </tr>
                            <tr>
                            <td>NOC Obtained</td>
                            <td>Yes</td>
                            </tr>
                            <tr>
                            <td>NOC No.</td>
                            <td>20284/PS.I/A1/2006</td>
                            </tr>
                            <tr>
                            <td>NOC Issuing Date</td>
                            <td>14.12.2006</td>
                            </tr>
                            <tr>
                            <td>Recognition Authority</td>
                            <td>CBSE</td>
                            </tr>
                            <tr>
                            <td>Status of Affiliation</td>
                            <td>Composite Provisional Affiliation</td>
                            </tr>
                            <tr>
                            <td>Affiliation No.</td>
                            <td>CBSE/AFFL/3630058/(SL-01507-0708)/2007/105906</td>
                            </tr>
                            <tr>
                            <td>Affiliation with the Board since</td>
                            <td>01.04.2007</td>
                            </tr>
                            <tr>
                            <td>Extension of Affiliation upto</td>
                            <td>31.03.2015 — CBSE/AFFL/3630058/EXTNO143210011/2010/2050864 (29.07.2010)</td>
                            </tr>
                            <tr>
                            <td>Name of Trust / Society / Company</td>
                            <td>Quest Educational Society 67/2002</td>
                            </tr>
                            <tr>
                            <td>Registration Validity</td>
                            <td>Valid upto 21.03.2027 (Act 35 of 2001)</td>
                            </tr>
                            <tr>
                            <td>Correspondent Name</td>
                            <td>P. Ravi Maruth</td>
                            </tr>
                            <tr>
                            <td>Correspondent Address</td>
                            <td>Dr. No: 5-7-200/11, Near Mamatha Hospital, Pakabanda Bazar, Khammam</td>
                            </tr>
                            <tr>
                            <td>Correspondent E-mail</td>
                            <td><a href="mailto:ravi.maruth@gmail.com">ravi.maruth@gmail.com</a></td>
                            </tr>
                            <tr>
                            <td>Correspondent Phone No.</td>
                            <td><a href="tel:+919849114369">9849114369</a></td>
                            </tr>
                            <tr>
                            <td>Campus Area (Acres)</td>
                            <td>2.85 acres</td>
                            </tr>
                            <tr>
                            <td>Campus Area (sq. mtrs)</td>
                            <td>11,533 sq. mtrs</td>
                            </tr>
                            <tr>
                            <td>Built-up Area (sq. mtrs)</td>
                            <td>976 sq. mtrs</td>
                            </tr>
                            <tr>
                            <td>Playground Area (sq. mtrs)</td>
                            <td>10,557 sq. mtrs</td>
                            </tr>
                            <tr>
                            <td>Facilities</td>
                            <td>Indoor games (chess, carroms, table tennis), Dance Rooms, Music Rooms, Health &amp; Medical Check-up</td>
                            </tr>
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>