<%- include('partials/header') %>

<!-- breadcrumb-area-start -->
<div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
    <div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="it-breadcrumb-content z-index-3 text-center">
                <div class="it-breadcrumb-title-box">
                <h3 class="it-breadcrumb-title">Staff</h3>
                </div>
                <div class="it-breadcrumb-list-wrap">
                <div class="it-breadcrumb-list">
                    <span><a href="index.ejs">home</a></span>
                    <span class="dvdr">//</span>
                    <span>Staff</span>
                </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<!-- breadcrumb-area-end -->

    <div class="staff-section">
        <div class="container">

             <h4 class="mb-4 text-center">STAFF DETAILS 2019-2020</h4>
            <div class="table-wrap">
               
              <table border="1" cellpadding="6" cellspacing="0" style="width:100%; border-collapse:collapse;" class="table table-striped">
                <thead>
                    
                    <tr style="background-color:#dc3545; color:#fff; text-align:center;">
                    <th>SL NO.</th>
                    <th>Teacher Name</th>
                    <th>Designation</th>
                    <th>Date of Birth</th>
                    <th>Prof. Qual</th>
                    <th>Experience</th>
                    <th>Trained/Untrained</th>
                    <th>First Appointment</th>
                    <th>Class Assigned</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>1</td><td>R PARVATHI REDDY</td><td>PRINCIPAL</td><td>31/08/1974</td><td>M.Sc., M.Ed.</td><td>18 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>2</td><td>CH.V N. SEKHAR BABU</td><td>PGT</td><td>19/07/1969</td><td>M.A., B.Ed</td><td>16 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>3</td><td>SANJEEV KUMAR PATRA</td><td>PGT</td><td>26/05/1974</td><td>M.A., B.Ed</td><td>15 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>4</td><td>K NAGA RAJU</td><td>PGT</td><td>21/08/1982</td><td>M.Sc., B.Ed</td><td>10 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>5</td><td>Ch SIVA NAGESWARA RAO</td><td>PGT</td><td>28/08/1984</td><td>M.Sc., B.Ed</td><td>13 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>6</td><td>G NARESH KUMAR</td><td>PGT</td><td>03/05/1984</td><td>M.Sc., B.Ed</td><td>14 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>7</td><td>G RAMA KRISHNA REDDY</td><td>PGT</td><td>08/04/1975</td><td>M.Sc., B.Ed</td><td>12 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>8</td><td>G SREENU</td><td>PGT</td><td>24/05/1980</td><td>M.Sc., B.Ed</td><td>10 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>9</td><td>B HARI PRASAD</td><td>PGT</td><td>25/06/1985</td><td>M.Sc., B.Ed</td><td>10 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>10</td><td>MD AYUB PASHA</td><td>PGT</td><td>19/04/1982</td><td>M.Sc., B.Ed</td><td>14 YEARS</td><td>TRAINED</td><td>01/06/2005</td><td></td></tr>
                    <tr><td>11</td><td>NAGI REDDY</td><td>TGT</td><td>12/07/1983</td><td>B.Sc., B.Ed</td><td>11 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>12</td><td>SUJATHA</td><td>TGT</td><td>16/09/1984</td><td>B.A., B.Ed</td><td>10 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>13</td><td>SURESH KUMAR</td><td>TGT</td><td>04/05/1981</td><td>B.Sc., B.Ed</td><td>12 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>14</td><td>SANDHYA RANI</td><td>TGT</td><td>29/10/1986</td><td>B.Sc., B.Ed</td><td>9 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>15</td><td>SANTHOSH</td><td>TGT</td><td>23/06/1985</td><td>B.A., B.Ed</td><td>8 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>16</td><td>PRASAD</td><td>TGT</td><td>12/11/1982</td><td>B.Sc., B.Ed</td><td>11 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>17</td><td>HEMA</td><td>TGT</td><td>05/02/1987</td><td>B.Sc., B.Ed</td><td>7 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>18</td><td>PRANEETHA</td><td>TGT</td><td>10/03/1984</td><td>B.A., B.Ed</td><td>9 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>19</td><td>RAJESH</td><td>TGT</td><td>14/08/1986</td><td>B.Sc., B.Ed</td><td>8 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>20</td><td>ANJALI</td><td>TGT</td><td>02/02/1988</td><td>B.A., B.Ed</td><td>6 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>21</td><td>DEVI</td><td>PRT</td><td>09/07/1990</td><td>B.A., D.Ed</td><td>5 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>22</td><td>BHARATHI</td><td>PRT</td><td>13/12/1989</td><td>B.Sc., D.Ed</td><td>5 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>23</td><td>RAMESH</td><td>PRT</td><td>22/09/1991</td><td>B.A., D.Ed</td><td>4 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>24</td><td>KAVITHA</td><td>PRT</td><td>15/05/1992</td><td>B.Sc., D.Ed</td><td>4 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>25</td><td>SUNIL</td><td>PRT</td><td>30/11/1990</td><td>B.A., D.Ed</td><td>5 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>26</td><td>POOJA</td><td>PRT</td><td>27/04/1991</td><td>B.Sc., D.Ed</td><td>5 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>27</td><td>VIKRAM</td><td>PRT</td><td>07/01/1993</td><td>B.A., D.Ed</td><td>3 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>28</td><td>LATHA</td><td>PRT</td><td>18/08/1992</td><td>B.Sc., D.Ed</td><td>4 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>29</td><td>SWATHI</td><td>PRT</td><td>12/10/1993</td><td>B.A., D.Ed</td><td>3 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                    <tr><td>30</td><td>MAHESH</td><td>PRT</td><td>25/03/1994</td><td>B.Sc., D.Ed</td><td>2 YEARS</td><td>TRAINED</td><td></td><td></td></tr>
                </tbody>
                </table>

            </div>

            <div class="text-center">
                 <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center mt-4">
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                    </li>
                </ul>
                </nav>  
            </div>
        </div>
    </div>

<%- include('partials/footer') %>