<%- include('partials/header') %>

<section class="yoga-section">

    <!-- breadcrumb-area-start -->
   <div class="it-breadcrumb-area it-breadcrumb-bg" style="background-image: url(assets/img/breadcrumb-img.png); background-size: cover; background-position: center center; background-repeat: no-repeat;">
      
        <div class="container">
        <div class="row ">
            <div class="col-md-12">
                <div class="it-breadcrumb-content z-index-3 text-center">
                    <div class="it-breadcrumb-title-box">
                    <h3 class="it-breadcrumb-title">Yoga</h3>
                    </div>
                    <div class="it-breadcrumb-list-wrap">
                    <div class="it-breadcrumb-list">
                        <span><a href="index.ejs">home</a></span>
                        <span class="dvdr">//</span>
                        <span>Yoga</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="yoga-content">
                    <h2>Yoga at Harvest Tender Roots School</h2>
                    <p>At Harvest Tender Roots School, we believe that education is not only for the mind, but also for the body and soul. To nurture healthy habits and a balanced lifestyle, Yoga is a part of our regular school activities.</p>
                    <ul>
                        <li>
                            <h5>Mind & Body Balance:</h5> Children practice simple yoga postures that help improve concentration, memory, and confidence.
                        </li> <br>
                        <li>
                            <h5>Stress-Free Learning:</h5>
                            Yoga helps students stay calm, energetic, and positive throughout the day.
                        </li> <br>
                        <li>
                            <h5>Healthy Lifestyle:</h5>
                            Regular practice of breathing exercises and meditation encourages discipline, fitness, and inner peace.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="yoga-sliders">
                    <div id="carouselExampleAutoplaying" class="carousel slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                            <img src="assets/img/yoga-slider1.jpeg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="assets/img/yoga-slider2.jpeg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                            <div class="carousel-item">
                            <img src="assets/img/yoga-slider3.jpeg" class="d-block w-100 img-fluid" alt="...">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>